<div id="intro">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Welcome to Share Your Numbers.</h1>
      <h3>A free site where filmmakers can share VOD revenue data with each other.</h3>

      <%= link_to "Sign up for free", new_user_registration_path, :class => "button radius", id: "home-signup" %>
    </div>
  </div>
</div>

<div id="intro-1">
  <div class="row">
    <div class="medium-8 columns">
      <h1>Let's bring transparency to the VOD industry</h1>
      <h4>
        When you share your video on demand distribution data, you help the independent film community grow more sustainably.
      </h4>
    </div>
    <div class="medium-4 columns">
      <div id='magnifying'></div>
    </div>
  </div>
</div>

<div id="intro-2">
  <div class="row">
    <div class="medium-8 columns right">
      <h1>Compare your data</h1>
      <h4>
        See how well your film does compared to other similar films.
      </h4>
      <h4>
        Your data will be always be available to you anytime, anywhere.
      </h4>
    </div>
    <div class="medium-4 columns left">
      <div id='track-data'></div>
    </div>
  </div>
</div>


<div id="intro-3">
  <div class="row">
    <div class="medium-8 columns">
      <h1>Be social</h1>
      <h4>
        Network with other filmmakers. Learn what works and what doesn't. Share your experience working with different VOD aggregators.
      </h4>
    </div>
    <div class="medium-4 columns">
      <div id='helping-hands'></div>
    </div>
  </div>
</div>






